@import 'bootstrap/dist/css/bootstrap.css';
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import "./OverrideAntd.scss";

:root {
  --white-color: #fff;
  --primary-color: rgb(7, 71, 166);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  top: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.MuiPickersCalendarHeader-label,
.PrivatePickersYear-yearButton,
.MuiTypography-root,
.MuiButtonBase-root,
.MuiSvgIcon-root {
  font-size: 16px !important;
}