@import "./src/components/layout-components/GlobalStyle/GlobalStyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .form-wrapper {
    padding: 24px 36px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .form-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-app-wrapper {
        height: 8vh;

        .logo-app {
          height: 100%;
        }
      }

      .app-name {
        font-family: "Satisfy", cursive;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 8vh;
        margin-left: 10px;
      }
    }

    .form-login {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
        height: 72vh;
        justify-content: center;

        .remember-password {
          display: flex;
          align-items: center;
          cursor: pointer;
  
          .input-remember-password {
            cursor: pointer;
            width: 14px;
            height: 14px;
            transform: translateY(-1px);
            transition: all 0.25s;
          }
        }

      .divider {
        color: #888;
        margin-top: 24px;
      }

      .form-input {
        font-size: 15px;
      }

      .form-label {
        font-size: 15px;
        font-weight: 500;
      }

      .form-submit-btn {
        margin-bottom: 12px;
        background: #111727;
        outline: #111727;
        border: #111727 1px solid;
        font-weight: 500;
        border-radius: 8px;
        font-size: 15px;
        color: var(--white-color);
        
      }
      .manage-password-login, .manage-register {
        width: 100%;
        display: flex;
      }
      .manage-password-login {
        justify-content: space-between;
        margin: 4px 0 36px;
      }

      .manage-register {
        margin: 0 auto;
        width: fit-content;

        .redirect-register {
          color: #111727;
          font-weight: 700;
          margin-left: 4px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .background-login {
    height: 100%;
    position: relative;
    flex: 1;
    background: url("../../../assets/images/background.png") no-repeat center;
    background-size: cover;
  }
}
