@import "./src/components/layout-components/GlobalStyle/GlobalStyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.register {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  .form-wrapper {
    padding: 24px 36px;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-register {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: fit-content;
      justify-content: center;
      min-width: 377px;
      .form-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-app-wrapper {
          height: 8vh;

          .logo-app {
            height: 100%;
          }
        }

        .app-name {
          font-family: "Satisfy", cursive;
          font-size: 3.5rem;
          font-weight: 600;
          margin-left: 10px;
        }
      }
      .divider {
        color: #888;
        margin-top: 24px;
      }

      .form-input {
        font-size: 15px;
      }

      .form-label {
        font-size: 15px;
        font-weight: 500;
      }

      .remind-form-password {
        font-size: 1.4rem;
        color: #888;
        position: relative;
        top: -8px;
        margin-bottom: 23px;
      }

      .form-submit-btn {
        margin-bottom: 12px;
        background: #111727;
        outline: #111727;
        border: #111727 1px solid;
        font-weight: 500;
        border-radius: 8px;
        font-size: 15px;
        color: var(--white-color);
      }
      .manage-password-login,
      .manage-register {
        width: 100%;
        display: flex;
      }
      .manage-password-login {
        justify-content: space-between;
        margin: 4px 0 36px;
      }

      .manage-register {
        margin: 0 auto;
        width: fit-content;

        .redirect-register {
          color: #111727;
          font-weight: 700;
          margin-left: 4px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .background-login {
    height: 100%;
    position: relative;
    flex: 1;
    background: url("../../../assets/images/background.png") no-repeat center;
    background-size: cover;
  }
}
